atype.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://bsbb.eu"
           xmlns="http://bsbb.eu"
           elementFormDefault="qualified">

<xs:include schemaLocation="http://bsbb.eu/textcontent.xsd"></xs:include>

   <xs:complexType name="atype">
       <xs:sequence>
           <xs:element name="id" type="xs:ID"/>
           <xs:element name="title" type="stringtype"/>
           <xs:element name="kapitel" type="textcontent"
                       minOccurs="1"
                       maxOccurs="4"/>
       </xs:sequence>
   </xs:complexType>
   <xs:element name="teila" type="atype"/>
</xs:schema>